
/* CSS Document */
body, html, main {
  /* important */
  height: 100%;
}

html {
  position: relative;
}

body {
  height: 100%;
  line-height: 1.7;
  color: #000;
  position: relative;
}

img {
  vertical-align: top;
}

a {
	
  -webkit-transition: color ease-in-out;
  -webkit-transition-delay: 0.1s;
  -moz-transition: color ease-in-out 0.1s;
  -o-transition: color ease-in-out 0.1s;
  transition: color ease-in-out 0.1s;
}

a:link {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:hover {
  opacity:0.5;
  text-decoration: none;
}

a:active {
  color: #cccccc;
  text-decoration: none;
}

/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #FFF;
}

#Header {
	zoom: 1;
	width: 900px;
	padding-top: 0;
	padding-right: 20;
	padding-left: 30px;
	padding-bottom: 15px;
	margin: 0 auto;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 30px;
}
#Header:before, #Header:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
#Header:after {
  clear: both;
}
#Header li {
  float: left;
  margin-left: 49px;
}
#Header li:first-child {
  margin-left: 0;
}
#Header a {
  height: 50px;
  width:100px;
  display: block;
  border-top: 2px solid #FFF;
  padding-top: 10px;
}
#Header .cu {
  border-top: 2px solid #000;
}

.cd-bg-1 {
  position: relative;
}

.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 2;
}
.cd-fixed-bg.cd-bg-1 {
  background-image: url("../img/1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../img/2.jpg");
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url("../img/3.jpg");
  z-index: 3;
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url("../img/4.jpg");
}
.cd-fixed-bg.cd-bg-5 {
  background-image: url("../img/5.jpg");
  z-index: 3;
}
.cd-fixed-bg.cd-bg-6 {
  background-image: url("../img/6.jpg");
  position: relative;
}
.cd-fixed-bg.cd-bg-6 #Copyright {
  color: #ECECEC;
  position: absolute;
  left: 50%;
  bottom: 30px;
  margin-left: -74px;
}

.PhotoCopyright {
  position: fixed;
  right: 30px;
  bottom: 25px;
  z-index: 1000;
  color: #FFF;
  font-size: 11px;
}

#Logo {
  position: fixed;
  top: 50%;
  left: 43%;
  margin-top: -134px;
  margin-left: -179px;
  display: none;
  z-index: 10;
  width: 317px;
  height: 317px;
}

.cd-scrolling-bg {
  position: relative;
  z-index: 9;
}

.cd-container {
  width: 1000px;
  padding: 100px 0 130px;
  margin: 0 auto;
  zoom: 1;
}
.cd-container:before, .cd-container:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
.cd-container:after {
  clear: both;
}

#Concept h2 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size:50px;
	text-align:center;
  width: 300px;
  
  margin: 0 auto 100px;
}
#Concept h3 {
  width: 442px;
  margin: 0 auto 84px;
  text-align:center;
}
#Concept p {
	text-align:center;
  width: 648px;
  margin: 0 auto;
}

#News h2 {
font-size:50px;
font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	
  width: 300px;
  margin: 0 auto 100px;
  text-align:center;
}
#News ul {
  width: 800px;
  margin: 0 auto 80px;
  border-top: 1px solid #EEE;
}
#News ul li {
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
}
#News ul li .date {
  padding-left: 15px;
  padding-right: 30px;
}
#News p {
	text-align:center;
  width: 220px;
  margin: 0 auto;
}

#Style {
  width: 960px;
  margin: 0 auto;
}
#Style h2 {
  font-size:50px;
  font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	text-align:center;
  width: 300px;
  margin: 0 auto 100px;
}
#Style ul {
  
  width: 960px;
  margin: 0 auto 80px;
  zoom: 1;
}
#Style ul:before, #Style ul:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
#Style ul:after {
  clear: both;
}
#Style ul li {
  width: 225px;
  float: left;
  margin-left: 20px;
  text-align: center;
  line-height: 1.6;
}
#Style ul li:first-child {
  margin-left: 0;
}
#Style ul li a {
  display: block;
  margin-bottom: 20px;
}
#Style ul li p {
  width: 225px;
  height: 300px;
  overflow: hidden;
}
#Style ul li p img,
#Style ul .border img {
  width: 225px;
  height: 300px;
  vertical-align: bottom;
}
#Style p {
  width: 220px;
  margin: 0 auto;
  text-align:center;
}


#photo{
	height:1300px;
	margin: 0 auto;
}

#photo img{
	margin-left:50px;
	margin-bottom:50px;
	float:left;
	vertical-align:bottom;
}

#Menu h2 {
font-size:50px;
font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	text-align:center;
  width: 900px;
  margin: 0 auto 100px;
}
#Menu ul {
  zoom: 1;
}
#Menu ul:before, #Menu ul:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
#Menu ul:after {
  clear: both;
}
#Menu ul li {
  width: 900px;
  float: left;
  margin-left: 21px;
  min-height: 330px;
  margin-bottom: 50px;
}

#Menu p {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  width: 900px;
  margin: 0 auto;
  text-align:center;
  font-size:20px;
}

#Menu p2 {
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
  width: 900px;
  margin: 0 auto;
  text-align:center;
  font-size:30px;
}



#Menu ul li dl dt {
  margin-bottom: 35px;
}
#Menu ul .left {
  margin-left: 0;
}

#Info {
  text-align: center;
}
#Info h2 {
 font-size:50px;
 font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	text-align:center;
  width: 300px;
  margin: 0 auto 100px;
}
#Info dl {
  width: 465px;
  float: left;
  margin-right: 30px;
}
#Info dl dt {
  margin-bottom: 30px;
}
#Info dl dd ul li {
  margin-bottom: 10px;
}
#Info #Access {
  margin-right: 0;
  color: #000;
  font-size: 15px;
}
#Info #ShopImage {
  margin-bottom: 35px;
}
#Info #MapCanvas {
  width: 465px;
  height: 330px;
  border: 1px solid #EEE;
  margin-bottom: 35px;
}

#BL {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 15px;
  background-color: #FFF;
  z-index: 10000;
}

#BR {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  background-color: #FFF;
  z-index: 10000;
}

#BB {
  height: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFF;
  z-index: 10000;
}

#Detail {
  width: 800px;
  margin: 120px auto;
  color: #000;
}
#Detail h2 {
  text-align: center;
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 18px;
}
#Detail #DetailHeader {
  zoom: 1;
  border-bottom: 1px solid #CCC;
  padding: 0 10px 20px;
}
#Detail #DetailHeader:before, #Detail #DetailHeader:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
#Detail #DetailHeader:after {
  clear: both;
}
#Detail #DetailHeader h3 {
  float: left;
  font-weight: bold;
  font-size: 15px;
}
#Detail #DetailHeader p {
  float: right;
}
#Detail #DetailContent {
  padding: 40px 10px 10px 10px;
  line-height: 1.8;
  font-size: 13px;
}

#DetailList {
  width: 800px;
  margin: 120px auto;
  color: #000;
}
#DetailList h2 {
  text-align: center;
  padding-bottom: 100px;
}
#DetailList #Lists {
  width: 800px;
  margin: 0 auto 80px;
  border-top: 1px solid #EEE;
}
#DetailList #Lists li {
  padding: 20px 0;
  border-bottom: 1px solid #EEE;
}
#DetailList #Lists li .date {
  padding-left: 15px;
  padding-right: 30px;
}

#ListStyle {
  width: 960px;
  margin: 120px auto;
}
#ListStyle h2 {
  width: 72px;
  margin: 0 auto 100px;
}
#ListStyle ul {
  width: 980px;
  margin-left: -20px;
  zoom: 1;
}
#ListStyle ul:before, #ListStyle ul:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
#ListStyle ul:after {
  clear: both;
}
#ListStyle ul li {
  width: 225px;
  float: left;
  margin-left: 20px;
  text-align: center;
  line-height: 1.6;
}
#ListStyle ul li a {
  display: block;
  margin-bottom: 20px;
}
#ListStyle ul li p {
  width: 225px;
  height: 300px;
  overflow: hidden;
}
#ListStyle ul li p img,
#ListStyle ul .border img {
  width: 225px;
  height: 300px;
  vertical-align: bottom;
}
#ListStyle p {
  width: 220px;
  margin: 0 auto;
}

.page-numbers {
  text-align: center;
  padding-bottom: 30px;
}
.page-numbers li {
  display: inline;
  padding: 3px 5px;
  font-size: 13px;
  border-bottom: none;
}
.page-numbers .current {
  font-weight: bold;
}
/* CSS Document */

