@charset "UTF-8";

/*

Cascading Style Sheets : common.css

- Last Updated on 2013. 12. 20
- (c) odd - http://www.e-odd.co.jp/

*/



/* 1. Reset style -----------------------------*/

/* 1.1. Layout */

html, body {
	width: 100%;
	background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,
img {
	border: 0;
}

li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

th {
	vertical-align: baseline;
}

/* 1.2. Font */

body {
	font-family: Arial, Helvetica, clean, sans-serif;
	font-size: 13px;
	line-height: 1.231;
 *font-size: small;
 *font: x-small;
}

select,
input,
button,
textarea {
	font: 99%;
}

table {
	font-size: inherit;
	font: 100%;
}

address,
caption,
em,
strong,
th {
	font-style:normal;
	font-weight:normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input,
textarea,
select {
*font-size: 100%;
}

/* 2. Default style ---------------------------*/

/* 2.1. Font */

body {
	color: #000;
	font-size: 13px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, Arial, sans-serif;
	line-height: 1.8;
}

/* 2.2. Anchor */

a {
	color: #000;
	text-decoration: none;
	outline: none;
	-webkit-transition: color 0.3s ease-out;
}

a:visited {
	outline: none;
}

a:hover {
	color:  #999;
	outline: none;
}

a:focus,
a:active {
	color:  #999;
	outline: none;
}

/* 2.3. Offleft */

.Offleft {
	text-indent: -9999px;
	overflow: hidden; /*Firefox*/
}

.OffleftHeadline { 
	width: 0;
	height: 0;
	text-indent: -9999px;
	overflow: hidden;
}

/* 2.4. Clearfix */

.Clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.Clearfix {
	min-height: 1px;
	zoom: 1;
}

/* 3. Common style ----------------------------*/


#Wrapper {
	width: 100%;
	min-width: 980px;
	position: relative;
	overflow: hidden;
}

#Header {
	position: relative;
	margin-top: -5px;
}

#Toggle {
	width: 100%;
	height: 41px;
	padding: 20px 0;
	background: url(../img/toggle-bg.png) repeat;
	border-bottom: 1px solid #EFEFEF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}





#ToggleInner {
	width: 980px;
	margin: 0 auto;
}

#Toggle h1 {
	width: 37px;
	float: left;
}

#ToggleNav ul {
	width: 980px;
	margin-left: 100px;
	padding-top: 15px;
}

#ToggleNav ul li {
	margin-right: 66px;
	float: left;
}

#ToggleNav ul li.Right {
	margin-right: 0;
}

#Intro {
	position: relative;
	z-index: 1000;
}

#Intro ul li {
	position: absolute;
	z-index: 100;
}

#Intro ul.Top li {
	top: 25px;
}

#Intro ul.Top li.Alpha01 {
	left: 36px;
}

#Intro ul.Top li.Alpha02 {
	left: 127px;
}

#Intro ul.Top li.Alpha03 {
	left: 228px;
}

#Intro .Middle li {
	top: 87px;
}

#Intro ul.Middle li.Alpha01 {
	left: 30px;
}

#Intro ul.Middle li.Alpha02 {
	left: 112px;
}

#Intro ul.Middle li.Alpha03 {
	left: 194px;
}

#Intro ul.Middle li.Alpha04 {
	left: 281px;
}

#Intro ul.Middle li.Alpha05 {
	left: 350px;
}

#Intro ul.Middle li.Alpha06 {
	left: 440px;
}

#Intro ul.Middle li.Alpha07 {
	left: 486px;
}

#Intro ul.Middle li.Alpha08 {
	left: 537px;
}

#Intro ul.Middle li.Alpha09 {
	left: 624px;
}

#Intro ul.Middle li.Alpha10 {
	left: 713px;
}

#Intro ul.Middle li.Alpha11 {
	left: 800px;
}



#Intro .Bottom li {
	top: 146px;
}

#Intro ul.Bottom li.Alpha01 {
	left: 99px;
}

#Intro ul.Bottom li.Alpha02 {
	left: 168px;
}

#Intro ul.Bottom li.Alpha03 {
	left: 247px;
}

#Intro ul.Bottom li.Alpha04 {
	left: 327px;
}

#Intro ul.Bottom li.Alpha05 {
	left: 405px;
}

#Intro ul.Bottom li.Alpha06 {
	left: 475px;
}

#Intro ul.Bottom li.Alpha07 {
	left: 555px;
}

#Intro ul.Bottom li.Alpha08 {
	left: 632px;
}

#Intro ul.Bottom li.Alpha09 {
	left: 680px;
}

ul.champagne div.hidden {
	display: none;
}

#HeaderContents {
	padding-top: 0px;
}

#Keyvisual {
	max-width: 100%;
	position: relative;
}

#Keyvisual2 {
	width: 50px;
	position: relative;
}

#Keyvisual img {
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

#HeaderContents {
	margin-top: 300px;
	position: absolute;
	top: 0;
	left: 0;
}



#TopCatch {
	position: absolute;
	top: 25px;
	left: 25px;
	z-index: 100;
}

#Logo {
	width: 980px;
	margin-left: -490px;
	position: absolute;
	bottom: 27px;
	left: 50%;
	z-index: 50;
}

#GlobalNav {
	width: 980px;
	margin-left: -490px;
	position: absolute;
	bottom: -80px;
	left: 50%;
	z-index: 50;
}

#GlobalNav ul li {
	margin-right: 59px;
	float: left;
}

#GlobalNav ul li.Right {
	margin-right: 0;
}

.Page #Logo {
	bottom: -97px;
}

.Page #GlobalNav {
	bottom: -204px;
}

#Container {
	margin-top: 230px;
}

.Page #Container {
	width: 980px;
	margin: 330px auto 0;
}

#Introduction {
	background: url(../img/bg01.png) no-repeat 90% 60px;
	padding-bottom: 80px;
}

#IntroTop {
	width: 980px;
	margin: 0 auto;
}

#IntroTop .Outline {
	margin: 20px 0 0 33px;
	line-height: 2.3;
}

#IntroVisual {
	width: 100%;
	margin-top: 80px;
	position: relative;
}

#IntroVisual .Img {
	width: 80%;
}

#IntroVisual .Img img {
	width: 100%;
	height: auto;
}

#IntroVisual .Catch {
	position: absolute;
	top: -140px;
	right: 15%;
}

#News {
	width: 980px;
	margin: 70px auto 0;
	padding-bottom: 50px;
	background: url(../img/bg02.png) no-repeat 100px 60px;
}

#News h2 {
	width: 167px;
	float: left;
}

.rssHeader {
	display: none;
}

#newsinfo {
	font-size: 100%;
	text-align:right;
	width: 720px;
     float: right;
}

#NewsList li {
	width: 733px;
	margin-top: -1px;
	padding: 16px 10px 10px;
	border-top: 1px dashed #CCC;
}

#NewsList li span {
	font-family: "Adobe Garamond Pro", "Garamond", "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", ＭＳ Ｐ明朝, serif;
	font-size: 92.3%;
	letter-spacing: 0.1em;
	float: right;
}

#BlogUpdate {
	width: 264px;
	margin: 40px 0 0 227px;
	float: left;
}

#Concept .Field {
	padding: 170px 0 60px;
}

#Concept {
	margin-top: 50px;
	background: url(../img/bg03.png) no-repeat 100px 120px;
}

#Concept .Field {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

#ConceptNav {
	width: 980px;
	margin-top: 50px;
}

#ConceptNav ul {
	width: 315px;
	float: right;
}

#ConceptNav ul li {
	margin-right: 33px;
	float: left;
}

#ConceptNav ul li.Right {
	margin-right: 0;
}

#ConceptNav ul li a {
	filter:alpha(opacity=20);
	-ms-filter: "alpha(opacity=20)";
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: all 0.3s ease-out;
}

#ConceptNav ul li a:hover {
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

#ConceptNav ul li a.activeSlide {
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

#FadeNav {
	position: absolute;
	top: 405px;
	left: 360px;
	z-index: 10;
}

#FadeNav p {
	height: 15px;
	margin-right: 20px;
	line-height: 1;
	float: left;
}

#ConceptInner {
	margin-top: 10px;
}

#ConceptInner .Box {
	width: 980px;
}

#ConceptInner .BoxInner {
	width: 275px;
	float: left;
}

#ConceptInner .Outline {
	width: 900px;
	margin: 55px 0 0 37px;
	line-height: 2.2;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}

#ConceptInner .Img {
	width: 620px;
	margin-top: 90px;
	float: right;
}

#About {
	padding: 170px 0 80px;
	background: url(../img/bg04.png) no-repeat 200px 170px;
}

#About h2, #AboutContents {
	width: 980px;
	margin: 0 auto;
}

#AboutContents {
	margin-top: 100px;
}

#ImgGallery {
	width: 620px;
	margin-top: 0px;
	float: left;
}

#ImgNav ul li {
	margin-left: -1px;
	float: left;
}

#ImgNav ul li a {
	filter:alpha(opacity=20);
	-ms-filter: "alpha(opacity=20)";
	-moz-opacity:0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: all 0.3s ease-out;
}

#ImgNav ul li a:hover {
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

#ImgNav ul li a.activeSlide {
	filter:alpha(opacity=100);
	-ms-filter: "alpha(opacity=100)";
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}

#ImgGallery .Img {
	margin-top: 8px;
}

#ShopDetail {
	width: 300px;
	float: right;
}

#works{
	margin-top: -200px;
}
	
	
#worksimg{
	width:1200px;
	margin-left:200px;
	margin-top: 100px;
	
}
	

#ShopDetail h3 {
	font-size: 135%;
	font-weight: bold;
	letter-spacing: 0em;
}

#ShopName {
	margin-top: 22px;
	font-size: 92.3%;
	font-weight: bold;
	letter-spacing: 0.1em;
}

#ShopAdd {
	margin-top: 40px;
}

#GoogleMap {
	margin-top: 25px;
}

#ShopInfo {
	margin-top: 65px;
}

#ShopInfo dl {
	margin-top: 5px;
}

#ShopInfo dt {
	display: list-item;
	list-style: disc inside;
	width: 60px;
	height: 25px;
	margin-top: 15px;
	padding-left: 5px;
	border-bottom: 1px dotted #CCC;
	float: left;
}

#ShopInfo dd {
	width: 215px;
	height: 25px;
	margin-top: 15px;
	border-bottom: 1px dotted #CCC;
	float: left;
}

#ShopInfo p {
	margin-top: 17px;
}

#AccessMap {
	height: 450px;
	margin-top: 65px;
	position: relative;
}

#AccessMap h3 {
	width: 980px;
	margin-left: -490px;
	position: absolute;
	top: 0;
	left: 50%;
}

#map_canvas {
	width: 980px;
	margin-left: -250px;
	position: absolute;
	top: 50px;
	left: 50%;
}

#Contact {
	padding-top: 170px;
	background: url(../img/bg05.png) no-repeat 25% 80px;
}

#Contact .Field {
	width: 980px;
	margin: 0 auto;
}

#Form {
	width: 980px;
	margin: 100px auto 0;
}

#FormLeft {
	width: 310px;
	margin-left: 55px;
	float: left;
}

#FormRight {
	width: 505px;
	margin-left: 110px;
	float: left;
}

#Form dt {
	margin-bottom: 8px;
	font-size: 92.3%;
	line-height: 1;
	letter-spacing: 0.1em;
}

#Form dd {
	margin-bottom: 25px;
}

#Form dd input {
	width: 310px;
	height: 25px;
	padding: 3px;
	border: 1px solid #E5E5E5;
	background: #FFF;
}

textarea {
	width: 505px;
	padding: 3px;
	border: 1px solid #E5E5E5;
}

#Form dd input:hover,
textarea:hover {
	border-color: #CCC;
}

#Confirm input {
	width: 222px;
	height: 41px;
	margin: 5px 0 0 110px;
	background: url(../img/check.png) no-repeat;
	border: none;
	cursor: pointer;
}

#Privacy {
	width: 980px;
	margin: 120px auto 0;
}

#Privacy p {
	width: 927px;
	margin: 40px 0 0 53px;
	color: #999;
	font-size: 92.3%;
	text-align: justify;
	text-justify: inter-ideograph;
	-ms-text-justify: inter-ideograph;
}

#Thanks {
	width: 980px;
	margin: 80px auto 150px;
	line-height: 2.3;
}

#Thanks h2 {
	width: 384px;
	margin: 0 auto;
}

#Thanks p {
	margin-top: 40px;
	text-align: center;
}

#Footer {
	width: 980px;
	margin: 130px auto 80px;
	text-align: center;
}

#FooterAdd {
	margin: 30px 0 40px;
	font-size: 84.6%;
}


/*問い合わせ隠し項目*/

noscript div {
	color:  #000;
	font-size: 20px;
	width: 18em;
	margin: 50px auto 0;
}

label.label_true { font-weight: bold; }

.mfp_err {
	color:  #CA3A32;
	display: none;
	margin-top: 5px;
}

#mailfrom_hidden_object {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#mailfrom_hidden_object input { margin: 10px; }



/*確認画面*/

ul.confirm_layer {
	width: 720px;
	margin: 0;
	background: #FFF;
}

ul.confirm_layer li {
	list-style: none;
	float: left;
	overflow: hidden;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

li.confirm_middle {
	background: #FFF;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/mfp_table_background.png', sizingMethod='scale');
}

div#disabled_submit {
	width: 1px;
	height: 1px;
	overflow: hidden;
}

div#disabled_submit input {
	margin: 10px;
	background: #FFF;
}

table.infield {
	width: 720px;
	margin: 0 auto 50px;
	background: #FFF;
}

table.infield tr th {
	padding: 5px;
	margin: 0px;
	text-align: right;
	font-size: 12px;
	width: 165px;
	border-bottom: solid 1px #EFEFEF;
	color: #232323;
}

table.infield tr td {
	padding: 5px;
	border-bottom: solid 1px #EFEFEF;
}

table.infield tr td p {
	text-align: left;
	font-size: 12px;
	line-height: 1.5em;
	border-left: solid 1px #EFEFEF;
	padding: 5px 0px 5px 10px;
	margin: 0px;
}

.mfp_color {
	background: #FFF;
}

div#confirmWindow {
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	-khtml-opacity: 0.3;
	opacity: 0.3;
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow: hidden;
	z-index: 2000;
	position: fixed!important;
	position/**/:  absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	background-color: #000000;
	font-size: 12px;
	text-align: center;
	_top: expression(
		document.documentElement && document.documentElement.scrollTop  || 
		document.body && body.scrollTop  || 0
		+ 0 + 'px'
	);
}

div#confirmBody {
	width: 1px;
	visibility: hidden;
	position: absolute;
	z-index: 3000;
	text-align: center;
	margin: 0 auto;
}

div#confirmBody div.mfp_title {
	width: 720px;
	height: 31px;
	margin: 100px auto 0;
	padding: 80px 0 50px;
	background: #FFF;
	color: #000;
}

div.buttons {
	width: 720px;
	margin: 0 auto;
	padding-bottom: 50px;
	background: #FFF;
}

div.buttons input {
	margin: 0 10px;
}

div#twex {
	margin: 0px;
	overflow: hidden;
	z-index: 5000;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;
	background-color: #000000;
	filter: alpha(opacity=60);
	-moz-opacity: 0.60;
	-khtml-opacity: 0.60;
	opacity: 0.60;
}

img#loading_proccess_image {
	position: absolute;
	z-index: 10000;
}






